@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: whitesmoke;
    --highlight-color: #ff7b54;
    --dark-grey: #333333;
    --light-grey: #f8f9fa;
}

body {
    font-family: "Arial", sans-serif;
    background-color: var(--primary);
    color: var(--dark-grey);
    margin: 0;
    padding: 0;
}

.user-invalid-pink:user-invalid {
    @apply border-pink-500 focus:border-pink-500 focus:ring-pink-400 focus:outline-none focus:ring focus:ring-opacity-40
}

.height-87{
    min-height: 87vh;
}
